.app-layout {
    display:flex;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}

.topbar {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}